@use "../../styles/global";

.mat-card {
  background-color: #f1f5f8;
  display: block;
}
mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-card-title {
    text-align: center;
  }
  .mat-card-content {
    display: flex;
    flex-direction: column;
  }
}

.textGuide {
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 15px;
  box-shadow: var(--primary) 3px 4px 0;
  color: #0a0a0a;
  display: inline-block;
  font-size: 1em;
  padding: 1%;
  text-decoration: none;
  margin: 16px;
}

.sameRow {
  border: 1px solid var(--primary);
  padding: 1%;
  font-size: 15px;
  margin: 32px 0px;
  border-radius: 15px;
  width: 100%;
  vertical-align: middle;
  h4 {
    text-align: initial;
    width: 20%;
    border: 1px solid var(--primary);
    background: #f1f5f8;
    color: var(--primary);
    font-size: 15px;
    margin-top: -28px;
    margin-left: 7px;
    padding: 0.5%;
    position: relative;
    border-radius: 15px;
    font-weight: normal;
  }
}

ng-container {
  vertical-align: middle;
}
